/* ====== GLOBAl STYLES ====== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ====== PORTFOLIO PAGE STYLES ====== */
.section-1 {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    margin-top: 5rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}

#section-1-icon {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: ;
}

#section-1-text {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.section-2 {
    margin-top: 1.37rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

#header-text {
    color: #000;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

#header-tagline {
    margin-top: 1.5rem;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

/* Pick up where you left off */
.section-3 {
    border: 1px solid red;
}

.grid-container {
    border: 1px solid green;
    display: grid;
}

.img-container img {
    height: 24.25rem;
    height: 24.25rem;
}